site_name: Портфолио / Лабы

theme:
  name: material

  palette:
    scheme: slate
    primary: black
    accent: indigo

  font:
    code: Roboto Mono

  features:
    - navigation.tabs
    - navigation.sections
    - content.code.copy

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

repo_url: https://github.com/slw0000

nav:
  - Главная: index.md
  - Об авторе: author.md
  - Лабораторные работы:
      - Лабораторная 1: labs/lab-01.md
